body,
html {
    padding: 0 0;
    margin: 0 0;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #f7f7ee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300 !important;
}

@media (min-width: 991px) {
    .b-dotted-r {
        border-right: 2px dotted rgba(0, 0, 0, 0.2);
    }
    .b-dotted-l {
        border-left: 2px dotted rgba(0, 0, 0, 0.2);
    }
}